<!DOCTYPE html>
<html>
<head>
    <title>Add Item</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

<div class="container mt-4">
<div class="card p-4">

<h3>Add Item</h3>

{% for message in messages %}
<div class="alert alert-success">{{ message }}</div>
{% endfor %}

<form method="POST">
{% csrf_token %}

<input name="item_code" class="form-control mb-2" placeholder="Code" required>
<input name="name" class="form-control mb-2" placeholder="Name" required>

<select name="category" class="form-control mb-2">
<option value="">Category</option>
{% for c in categories %}
<option value="{{ c.id }}">{{ c.name }}</option>
{% endfor %}
</select>

<select name="supplier" class="form-control mb-2">
<option value="">Supplier</option>
{% for s in suppliers %}
<option value="{{ s.id }}">{{ s.name }}</option>
{% endfor %}
</select>

<input name="cost_price" type="number" class="form-control mb-2" placeholder="Cost">
<input name="selling_price" type="number" class="form-control mb-2" placeholder="Selling">
<input name="stock" type="number" class="form-control mb-2" placeholder="Stock">

<input name="retail_gl" class="form-control mb-2" placeholder="Retail GL">
<input name="cost_gl" class="form-control mb-2" placeholder="Cost GL">

<button class="btn btn-success w-100">Save</button>

</form>

</div>
</div>

</body>
</html>