{% extends "base.html" %}
{% block title %}Edit Purchase Asset{% endblock %}

{% block content %}
<h3 class="page-title">Edit Purchase Asset</h3>

<div class="card card-soft">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {% include "pos/_purchase_order_form.html" %}

            <div class="mt-4 d-flex gap-2">
                <button type="submit" class="btn btn-primary">Update PO</button>
                <a href="{% url 'purchase_order_list' %}" class="btn btn-secondary">Back</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
