{% extends "base.html" %}

{% block title %}GL List{% endblock %}

{% block content %}
<div class="card p-3 p-md-4">
    <div class="app-card-header">
        <h4 class="app-page-title">GL Account List</h4>
        <div>
            <a href="{% url 'add_gl' %}" class="btn btn-primary btn-sm">+ Add GL</a>

        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped bg-white align-middle">
            <thead class="table-dark">
                <tr>
                    <th>GL Code</th>
                    <th>GL Name</th>
                    <th>GL Type</th>
                    <th>Parent Group</th>
                    <th>Description</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for gl in gl_accounts %}
                <tr>
                    <td>{{ gl.gl_code }}</td>
                    <td>{{ gl.gl_name }}</td>
                    <td>{{ gl.get_gl_type_display }}</td>
                    <td>{{ gl.parent_group|default:"-" }}</td>
                    <td>{{ gl.description|default:"-" }}</td>
                    <td>
                        {% if gl.is_active %}
                            <span class="badge bg-success">Active</span>
                        {% else %}
                            <span class="badge bg-danger">Inactive</span>
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" class="text-center">No GL accounts found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}